
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
*/

@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap);


@import url("fonts.css");

@import url("reset.css");

body {
    font-family: "ProximaNova-Regular", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    color: #2b2929;
    
}


.header {
    width: 100%;
    max-width: 1070px; 
    min-height: auto;
    margin: 0 auto;
}

.header-vitalnya-title {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header-vitalnya-picture {
    margin-bottom: 20px;
}
.header-vitalnya-one {
    line-height: 1.875; /* 30/16 */
    margin-bottom: 20px;
}
.header-vitalnya-two {
    font-size: 20px;
    line-height: 1.40; /* 28/20 */
    margin-bottom: 20px;
}
.header-vitalnya-three {
    line-height: 1.875; /* 30/16 */
    margin-bottom: 20px;
}
.header-vitalnya-four {
    line-height: 1.875; /* 30/16 */
    margin-bottom: 20px;
}
.vitalnya {
    padding-bottom: 20px;
    background: url("../img/mark.png") 0 0 / 30px no-repeat;
    padding-left: 45px;
    min-height: 14px;
}


.main {
    margin: 0 auto;
    max-width: 1470px;
    font-family: "Quicksand",sans-serif;
    font-weight: 700;
    background-color: #914cff;
    background-image: url(../img/Kid.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    
}
.main-1 {
    color: #fff;
    border: 5px;
    padding: 130px 800px 130px 70px;
    padding: auto; 
    
}
.main-title {
    font-family: "Quicksand",sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.20; /* 48/40 */
    margin-bottom: 20px;
}
.main-text {
    font-family: "Quicksand",sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.60; /* 32/20 */
    margin-bottom: 20px;
}
.main-button {
    font-family: "Quicksand",sans-serif;
    font-weight: 700;
    color: #0d1216;
    font-size: 16px;
    line-height: 1.5625; /* 25/16 */
    background-color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}


.footer {
    font-family: "Roboto",sans-serif;
    margin: 0 auto;
    max-width: 1470px;
    padding: 50px 50px 50px 10px;
    background: url("../img/Frame.png") no-repeat 1300px 200px, 
    #1e283211 url(../img/Frame_1.png) no-repeat 0px 450px;
}
.footer-bloc {
    display: inline-block;
    padding: 100px 50px 50px 100px;
    /* margin: 100px 100px 100px 100px; */
}
.footer-title {
    font-weight: 300;
    font-size: 74px;
    line-height: 55px;
    margin-bottom: 40px;
}
.footer-text {
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
    text-transform: capitalize;
    margin-bottom: 40px;
    max-width: 750px;
    
}
.footer-shop {
    font-weight: 400;
    font-size: 29px;
    text-transform: capitalize;
    color: #fff;
    background: url(../img/icon.png) no-repeat center left;
    background-position: 15px;
    background-color: #0d1216;
    padding: 30px 70px 30px 50px;
}
.footer-cart {
    border-radius: 160px 0 160px 0;
    box-shadow: 18px 20px 0 -3px hsl(240deg 5% 96%), 18px 20px hsl(0deg 0% 0% / 25%);
}







